.card-container {
    display: flex;
    justify-content: center;
    width: 80%;
    margin: 0 auto;
}

.content {
    display: flex;
    flex-direction: column;
    margin: 20px;
    border: 1px solid black;
    border-radius: 10px;
    padding: 1em;
}

.text-container {
    text-align: center;
}